 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* header-section */
.top-parts{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
    height: 700px;
}
.half-width{
    width: 69%;
}
.half-width h1{
    margin-top: 10px;
    margin-left: 150px;
    font-size: 75px;
    color: white;
}
.half-width a{
    margin-left: 150px;
    background-color: red;
    font-size: 20px;
}
.button{
    font-family: 700px;
    text-decoration: none;
    color:white; 
    background-color: #E02C6D;
    padding: 10px 30px;
    /* border: 1px solid yellow; */
    margin-top: 100px;
}
.arrow{
    margin-left: 10px;
    /* margin-top: 20px; */
    /* text-align: center; */
    font-size: 15px;
}
.half-width img{
    margin-top: 100px;   
}
.half-width img{
    width: 650px;
    height: 550px;
}
/* main section */
main{
    display: flex;
}
.container{
    margin-left: 230px;
    margin-top: 60px;
    margin-right: 170px;
}
/* top playes style */
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: repeat(3,1fr); */
    grid-row-gap:30px;
    grid-column-gap: 30px;
    margin-bottom: 40px;
}
.player img{
    width: 300px;
    height: 256px;
}
.text{
    width: 300px;
}
.player{
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.15);
    width: 300px;
    height: 460px;
    /* align-items: center; */
    padding: 15px;
}
.player-name{
    font-weight: 700px;
    font-size: 24px;
}
.paragraph{
    font-weight: 300px;
    font-size: 15px;
}
/* footer and last part */
.footer-part{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 50px;
}
.footer-part img{
    width: 500px;
}
.icon{
    font-size: 35px;
    color: #969BAB;
    margin-left: 180px;
}
.font{
    margin-left: 10px;
}
.footer-text{
    margin-left: 150px;
    font-size: 20px;
}


